body {
    background-color: #000000;
    font-family: var(--font-dm-sans);
    margin: 0;
}

.processes{
    display: flex;
    padding: 8px;
    width: 100%;
    height: 50vh;
    gap: 20px;              /* controla o espaço entre os blocos */;
    justify-content: space-between;
    box-sizing: border-box;
}

.process_1, .process_2{
    flex: 1;
    min-width: 0; /* Impede que o conteúdo transborde e bagunce o layout */
    background-color: #121212;
    border-radius: 8px;
    padding: 16px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    height: 45vh;
    margin: 0;
}

h1{
    text-align: center;
    align-items: center;
    margin: 8px;
    padding: 8px;
}

.section-process_1, .section-process_2{
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px;
    padding: 16px;
    border-radius: 20px;
    height: 27vh;
    overflow-y: auto;   /* ativa barra de rolagem se ultrapassar */
    max-height: 27vh;
    overflow-wrap: break-word;
}


.section-process_1 .section-process_1_content, .section-process_2 .section-process_2_content{
    display: flex;
    flex-direction: column;
}

.section-process_1_content .text, .section-process_2_content .text{
    padding-bottom: 14px;
    color: #a3a3a3;
    text-align: left;
}

.section-process_1_content .subtitle, .section-process_2_content .subtitle{
    font-weight: 500;
    font-size: 12px;
}

/* .section-process_1, .section-process_2 {
    overflow-y: auto;   /* ativa barra de rolagem se ultrapassar */
    /* max-height: 50vh;   altura máxima da section */
    /* padding: 10px; */
    /* background-color: #111; */
    /* border-radius: 8px; */ 
/* }  */

.guia{
    display: flex;
    padding: 8px;
    width: 100%;
    height: 50vh;
    gap: 20px;              /* controla o espaço entre os blocos */;
    justify-content: space-between;
    box-sizing: border-box;
}

.panel_opcoes{
    width:30%;
    margin: 8px;
    height: auto;
    padding: 5px;
    background-color: #121212;
    border-radius: 8px;
    border: 1px solid white;
}

.panel_opcoes .panel_superior, .panel_opcoes .panel_inferior{
    height: 48%;
}

#opcoes{
    text-align: center;
    border-radius: 5px;
    width: 95%;
    font-weight: 500;
    font-size: 14px;
    margin: 8px 0px 0px 8px;
    padding: 8px;
    height: 28%;
}

#opcoes:hover{
    cursor: pointer;
}

.escolha, .mensagem{
    color: white;
    font-size: 14px;
    margin: 8px;
}

.guia .panel_opcoes .processo_start_button, .guia .panel_opcoes .processo_stop_button{
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #838383;
    border: 1px solid #878787;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    width: 45%;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
    text-decoration: none;
    text-transform: none;

    /* https://www.freecodecamp.org/news/css-button-style-hover-color-and-background/#states */
}

.guia .panel_opcoes .processo_start_button:hover, .guia .panel_opcoes .processo_stop_button:hover{
    background-color: #555555;
    transition: 0.7s;
}

.guia .linha_guia{
    border-color: white;
    border-width: 100%;
    height: auto;
}

.guia .entrada{
    display: flex;
    align-items: center;
    width: 95%;
    height: 20%;
    margin-left: 8px;
    margin-top: 8px;
    background-color: white;
    border-radius: 500px;
    border: 1px solid transparent;
}

.guia .entrada textarea{
    background: transparent;
    border: none;
    padding: 0px 10px 0px 12px;
    color: #000000;
    margin: 2px 0px 0px 8px;
    outline: none; /* Retira a marcação da borda do input, deixando limpo*/
    resize: none;        /* tira aquele canto de redimensionar */
    width: 100%;
    height: 20px;
    overflow: hidden;    /* evita scroll dentro */
    box-sizing: border-box;
}


.guia .panel_opcoes .enviar_msg_button, .guia .panel_opcoes .limpar_log_button{
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #838383;
    border: 1px solid #878787;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    width: 45%;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
    text-decoration: none;
    text-transform: none;

    /* https://www.freecodecamp.org/news/css-button-style-hover-color-and-background/#states */
}

.guia .panel_opcoes .enviar_msg_button:hover, .guia .panel_opcoes .limpar_log_button:hover{
    background-color: #555555;
    transition: 0.7s;
}

.status{
    margin-left: 8px;
    color: white;
    font-size: 14px;
}

#status-text, #status-envio{
    font-size: 12px;
    font-weight: 700;
}

.status-off {
    color: red;
}

.status-on {
    color: rgb(0, 184, 0);
}

.status-iniciando{
    color: yellow;
}